@font-face {
   font-family:'Idroid' ;
   src: url('fontes/idroid.otf')format('opentype');
}


body {
    font-family: Arial, verdana,sans-serif;
    color: #012e01;
    background-color: bisque;
    max-width: 100%;
    max-height: 100%;
    margin: 0px;
    height: 0px;
    
}

header {

    background: linear-gradient( to top, #012e01, rgba(6, 212, 92, 0.904) );
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: -10px;
    box-shadow: 0px 5px 9px 0px  rgba(0, 0, 0, 0.308);
}
 
header > h1 {
    font-family:'Bebas', sans-serif ;
    font-size: 40px;
    font-weight: lighter;
    color: white;
    letter-spacing: -2px;
    text-align: center;
    text-shadow: 1px 2px   rgba(0, 0, 0, 0.479);

}

header > p {
    font-family: 'Bebas', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 30px;
    text-shadow: 1px 2px   rgba(0, 0, 0, 0.479);

}

nav > a {
    font-family: Arial, Verdana, serif;
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin: 30px;
    letter-spacing: 1px;
    text-shadow: 1px 2px   rgba(0, 0, 0, 0.479);
}

main {
    background-color: white;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: -20px;
    box-shadow: 1px 0px 14px 5px rgba(0, 0, 0, 0.274);
}

main > section > h1 {
    font-family: 'Idroid';
    font-size: 2em;
    font-weight: lighter;
    padding-top: 20px;
    margin: 20px;
}

main >section > p {
    color: black;
    text-align: justify;
    text-indent: 30px;
    padding: 1px 15px 1px 15px;
}

main > section > h2 {
    font-family: 'Idroid';
    background: linear-gradient(to right, #76f7b0d3, #a5e4c041);
    color: #063D1E;
    padding-left: 10px;
    margin-left: 20px;
}

.cor {
    color: #008000;
    font-weight: 900;
}

main >section > p >a {
    display: inline;
    background-color:  #76f7b0;
    padding: 5px;
    color: #063D1E;
    text-decoration: none;
    font-weight: bold;
}

aside {
    background-color: #76f7b0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.301);
    max-width: 100%;
    text-align: center;
    margin: 20px;
} 
aside > h2 {
    font-family: Arial, Verdana, sans-serif;
    background-color: #063D1E;
    padding: 10px;
    margin: -10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    text-align: left;
}

aside > p {
    font-family: Arial, Verdana, sans-serif;
    text-align: justify;
    font-size: 19px;
    text-indent: 20px;
    padding: 10px;   
}

picture > img {
    
    padding-left: 200px;

}

asaid > span {
    background-color: #012e01;
}

.container {
    background-color: #012e01;
    
}

.centro > iframe {
    width:90% ;
    height: 600px;
    padding-top: 30px; 
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 70px;
}


#col-1 {
    display: flex;
    flex-direction: column;
    align-items:flex-start ;
 
 }
 
 #col-2 {
     display: flex;
     flex-direction: column;
     align-items:flex-start ;
  
  }