@charset "UTF-8";
 
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

header {
    background-image: linear-gradient(to right, grey, transparent) ;
    display: flex;
    padding: 10px;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.438);
    flex: 0 0 150px;
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 6px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

nav > a:hover {
    background-color: rgba(128, 128, 128, 0.418);
    color: black;
    font-weight: bold;
    transition-duration: .9s;
}

main {
    background-color: white;
    width: 80%;  
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.137);
}

main > h2 {
    padding: 10px;
}

section > p {
    padding: 10px;
}

@media screen and (max-width: 600px){

    body {
        width: 100%;
    }

    header, nav {
        flex-flow: column nowrap;    
    }

    header > h1 {
        flex-basis: 50px;
    }

    nav > a {
        width: 80vw;
        margin: 2px;
    }

}
